.main-content {
  margin-top: 80px;
}

.ponos-cta {
  border: none;
  display: inline-block;
  padding: 10px 20px;
  background: #183356;
  color: #f1bc53;
  font-size: 14px;
  text-align: center;
  transition: background 0.3s;
}
.ponos-cta:hover {
  background: #f1bc53 !important;
  color: #183356;
  text-decoration: none;
}

.main-header {
  background: #183356;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  padding-top: 10px;
  z-index: 100;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-navigation .logo a {
  text-decoration: none;
}
.site-navigation .logo a h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.site-navigation .logo a h1 span {
  color: #f1bc53;
}
.site-navigation .logo a:hover {
  text-decoration: none !important;
}

.main-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}
.main-menu ul li {
  margin-right: 20px;
}
.main-menu ul li a {
  color: #f1bc53;
  text-decoration: none;
}

.burger {
  position: fixed;
  top: 2rem;
  right: 30px;
  width: 35px;
  height: 30px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  z-index: 20;
  display: none;
}

.burger-bar {
  background-color: #f1bc53;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
}
.burger-bar::before, .burger-bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #f1bc53;
  border-radius: 3px;
  transition: all 500ms ease-in-out;
}
.burger-bar::before {
  transform: translateY(-10px);
}
.burger-bar::after {
  transform: translateY(10px);
}

.burger.open .burger-bar {
  background: transparent;
}

.burger.open .burger-bar::before {
  transform: rotate(45deg);
  background: #f1bc53;
}

.burger.open .burger-bar::after {
  transform: rotate(-45deg);
  background: #f1bc53;
}

@media (max-width: 960px) {
  .burger {
    display: block;
  }
  .main-menu {
    border-top: 1px solid #f1bc53;
    position: fixed;
    top: 90px;
    right: -310px;
    background: #183356;
    width: 300px;
    height: 100vh;
    transition: all 500ms ease-in-out;
    z-index: 10;
  }
  .main-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  .main-menu ul li {
    margin: 20px 0;
  }
  .main-menu ul li a {
    color: #f1bc53;
    text-decoration: none;
  }
  .main-menu.active {
    right: 0;
  }
}
footer {
  background: #183356;
  color: white;
  padding: 1rem 0;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/ponos-banner.jpg") no-repeat center center/cover;
  height: 750px;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .banner-content {
  max-width: 900px;
  width: 100%;
}
.banner .banner-content h2 {
  color: white;
  font-size: 5rem;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  margin: 0;
  line-height: 1;
}
@media (max-width: 768px) {
  .banner .banner-content h2 {
    font-size: 3rem;
  }
}
.banner .banner-content img {
  display: block;
  margin: 0 auto;
  width: 150px;
}

.innerpage-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/ponos-banner.jpg") no-repeat center center/cover;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerpage-banner-content {
  max-width: 600px;
  width: 98%;
  text-align: center;
  margin: auto;
}
.innerpage-banner-content h1 {
  color: #f1bc53;
  font-size: 2.5rem;
  font-weight: 580;
  margin-bottom: 20px;
}
.innerpage-banner-content p {
  color: white;
  font-size: 1.2rem;
}

.intro {
  background: #183356;
  color: white;
  padding: 5rem 0;
}
.intro h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0;
}
.intro h6 {
  color: #f1bc53;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
}

.intro-boxes {
  padding-top: 3rem;
}

.intro-box {
  background: #234b7e;
  padding: 20px;
}
.intro-box svg {
  font-size: 1.5rem;
  color: #f1bc53;
  margin-bottom: 15px;
}
.intro-box h4 {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}
.intro-box a {
  color: #f1bc53;
  font-size: 0.8rem;
  text-decoration: none;
  transition: 350ms;
  display: flex;
  align-items: center;
}
.intro-box a svg {
  font-size: 0.8rem;
  margin-left: 3px;
  margin-top: 16px;
  transition: 350ms;
}
.intro-box a:hover {
  color: white;
}
.intro-box a:hover svg {
  color: white;
  transform: translateX(5px);
}

.callout {
  padding: 5rem 0;
}

.callout-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .callout-wrapper {
    flex-direction: column-reverse;
  }
}
.callout-wrapper article, .callout-wrapper figure {
  width: calc(50% - 2rem);
}
@media (max-width: 768px) {
  .callout-wrapper article, .callout-wrapper figure {
    width: 100%;
  }
}
.callout-wrapper article h3 {
  color: #183356;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
  line-height: 1.2;
}
.callout-wrapper article a {
  border: none;
  display: inline-block;
  padding: 10px 20px;
  background: #183356;
  color: #f1bc53;
  font-size: 14px;
  text-align: center;
  transition: background 0.3s;
}
.callout-wrapper article a:hover {
  background: #f1bc53 !important;
  color: #183356;
  text-decoration: none;
}
.callout-wrapper figure {
  background: #183356;
}
@media (max-width: 768px) {
  .callout-wrapper figure {
    margin-bottom: 2rem;
  }
}
.callout-wrapper figure img {
  width: 100%;
  height: auto;
  padding-top: 30px;
  margin-left: -30px;
  margin-bottom: -30px;
}
@media (max-width: 768px) {
  .callout-wrapper figure img {
    margin-left: 0;
    margin-bottom: -10px;
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.personnel {
  background: rgb(243, 243, 243);
  padding: 5rem 0;
}
.personnel h2 {
  color: #183356;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.personnel h3, .personnel h4 {
  color: #183356;
  margin: 0;
  text-transform: uppercase;
}

.key-personnel article {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
}
.key-personnel article p {
  margin: 0;
}

.about-us-content {
  padding: 5rem 0;
}

.uk-tab > .uk-active > a {
  border-color: #183356 !important;
  color: #183356 !important;
}

.services {
  padding: 5rem 0;
}