.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/ponos-banner.jpg') no-repeat center center/cover;
    height: 750px;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        height: 500px;
    }

    .banner-content {
        max-width: 900px;
        width: 100%;

        h2 {
            color: white;
            font-size: 5rem;
            font-weight: 900;
            line-height: normal;
            text-align: center;
            margin: 0;
            line-height: 1;

            @media (max-width: 768px) {
                font-size: 3rem;
            }

            @media (max-width: 520px) {
                font-size: 2rem;
            }
        }
    
        img {
            display: block;
            margin: 0 auto;
            width: 150px;
        }
    }
}