.contact {
    padding: 3rem 0 5rem 0;

    &-header {
        background: $blue;
        color: white;
        padding: 30px 20px;
        margin-bottom: 3rem;

        h2 {
            color: white;
            font-size: 2.5rem;
            font-weight: 900;
            margin: 0;

            @media screen and (max-width: 768px) {
                font-size: 2rem;
            }
        }
    }

    &-details {
        margin: 2rem 0;
    }

    address, summary {
        margin: 20px 0;

        h4 {
            color: $blue;
            font-weight: 500;
        }

        a {
            color: $blue;
            text-decoration: none;
        }
    }

    .map-box {
        margin-top: 2rem;
    }
}

form.fluent_form_1 input[type="text"],
form.fluent_form_1 input[type="email"],
form.fluent_form_1 input[type="number"],
form.fluent_form_1 textarea {
    border-radius: 0 !important;
    font-family: inherit !important;
}

form.fluent_form_1 .ff-btn-submit:not(.ff_btn_no_style) {
    background-color: $blue !important;
    border-radius: 0 !important;
    color: $yellow !important;
    font-family: inherit !important;

    &:hover {
        background-color: $yellow !important;
        color: $blue !important;
    }
}